{%- set action -%}{% if dry_run %}Ueberpruefung{% else %}Aktualisierung{% endif %}{%- endset -%}
{%- set subject -%}Fehler bei {{ action }} der TU-Firewall-Objekte{%- endset -%}

Bei der {{ action }} der TU-Firewall-Objekte hat das Modul
tuitfw.tools.updaterules keine Liste der Unterschiede angelegt.

## Standardausgabe (stdout)
{{ stdout }}

## Fehlerausgabe (stderr)
{{ stderr }}

## Ende
