{%- set subject -%}Uebernahme der TU-Firewall-Objekte deaktiviert{%- endset -%}

Die automatische Uebernahme der TU-Firewall-Objekte ist derzeit
deaktiviert.

(Dieses Mail ist vom Barracuda-Prozess; es kommt noch ein weiteres --
dort, wo hier unten nichts steht -- von der produktiven
Check-Point-Installation.)

## Ende
