{%- set action -%}{% if dry_run %}Ueberpruefung{% else %}Aktualisierung{% endif %}{%- endset -%}
{%- set subject -%}Warnung bei {{ action }} der TU-Firewall-Objekte{%- endset -%}

Bei der {{ action }} der TU-Firewall-Objekte war das Modul
tuitfw.tools.updaterules insgesamt erfolgreich; bestimmte Eintraege haben
jedoch zu Warnmeldungen gefuehrt.

(Dieses Mail ist vom Barracuda-Prozess; es kommt noch ein weiteres --
dort, wo hier unten nichts steht -- von der produktiven
Check-Point-Installation.)

## Standardausgabe (stdout)
{{ stdout }}

## Fehlerausgabe (stderr)
{{ stderr }}

## Ende
